body {
  background-image: url('RPC_images/podium.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Comic Sans SM', sans-serif;
}

.coreGame{
  border: 2em solid;
  border-radius: 20%;
  padding: 0.8em;
  background-color: rgb(149, 189, 212);
  text-align: center;
  margin-bottom: 8%;
}

.choicebtn img{
  width: 5%;
}
.choicebtn{
  width: 40%;
  background-color: transparent;
}

.audience {
  bottom: 0;
width: 95%;
}

.players {
  width: 10%;
}